footer {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  padding: 1rem;
  font-family: var(--nav-font);
  font-size: var(--size-body-mobile);
  flex-shrink: 0;
}

footer p {
  margin: 0;
}

#icon-attribute {
  color: gray;
}
