/* Styles for the quote section */
.quote-section {
  background-color: var(--secondary-color);
  padding: 2rem;
  text-align: center;
  font-style: italic;
  margin-top: 2rem;
}

.quote-section blockquote {
  font-size: var(--size-header2);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .quote-section {
    padding: 1rem;
  }

  .quote-section blockquote {
    font-size: var(--size-body);
    margin: 0 1rem 1rem 1rem;
  }
}
