
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lora:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro&display=swap');

:root {
    --heading-font: 'Amatic SC', cursive;
    --body-font: 'Lora', serif;
    --nav-font: 'Source Sans Pro', sans-serif;
    --primary-color: #bb6016;
    --secondary-color: #e6dfd1;
    --text-color: #3a3a3a;
    --background-color: #f5f2e9;
}

/* Base styles */
body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('img/background/stone-counter-top.jpg') repeat center center;
    background-size: cover;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: 700;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

/* Header styles */
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: url('img/background/wood-texture.jpg') repeat-x;
  background-size: auto 100%;
  border-bottom: 3px solid var(--primary-color);
  gap: 0.5rem;
}

.nav-search-container{
    display: flex;

}

.logo {
  font-family: var(--heading-font);
  font-weight: bolder;
  font-size: 3rem;
  color: var(--background-color);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 0.5rem;
  box-shadow: h-offset v-offset blur spread color;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: var(--background-color);
  font-family: var(--nav-font);
  font-weight: bold;
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;

  transition: background-color 0.3s;
  display: inline-block;
  white-space: nowrap;
}

nav ul li a:hover {
  background-color: #5c4033;
}

.nav-search-container{
  gap: 0.5rem;
}

/* styles for colapsible menu */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .hamburger {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--background-color);
    position: relative;
    transition: background-color 0.3s;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    transition: transform 0.3s;
  }
  
  .hamburger::before {
    transform: translateY(-8px);
  }
  
  .hamburger::after {
    transform: translateY(8px);
  }


/* Search bar */
.search-container {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--primary-color);

  overflow: hidden;
  height: 40px;
}

.search-input {
  border: none;
  background: transparent;
  font-family: var(--body-font);
  font-size: 1rem;
  padding: 0 10px;
  flex-grow: 1;
  outline: none;
  height: 100%;
}

.search-button {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button .icon-search {
  color: #fff;
  font-size: 1.2rem;
}

/* Main content */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;

}

/* Hero section */
.hero {

    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Quick links */
.quick-links {
    margin-top: 2rem;
}

.quick-links h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Category jars */
.category-jars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.category-jar {
    text-decoration: none;
    color: inherit;
    text-align: center;
    width: 150px;
}

.jar-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 50% 50% / 10px 10px 25% 25%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.category-jar:hover .jar-img {
    transform: translateY(-5px);
}

.category-jar span {
    display: block;
    margin-top: 0.5rem;
    font-family: var(--heading-font);
    font-size: 1.5rem;
}

/* Featured recipes */
.featured-recipes {
    margin-top: 2rem;
}

.featured-recipes h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.favorites-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    direction: rtl;
    justify-content: center;
}

.favorites-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 10px;
    direction: rtl;
    display: flex;
    gap: 20px;
    width: 300px; /* Adjust for 3 cards per row with gap */
    min-width: 250px; /* Minimum width before wrapping */
    max-width: 100%; /* Ensure it doesn't exceed container width */

}

.favorites-card:hover {
    transform: translateY(-5px);
}

.favorites-card .image-container {
    flex: 0 0 auto; /* Prevent image from shrinking */
    width: 150px; /* Set a fixed width for the image container */
}

.favorites-card img {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
}

.favorites-card h3 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
}
.favorites-card .info-container {
     /* Allow info container to take remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
}

.favorites-info {
    font-size: 1rem;
    color: #666;
    margin: 0;
    min-width: 150px;
}

/* Quote section */
.quote-section {
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
}

.quote-section blockquote {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
    padding: 1rem;
    font-family: var(--nav-font);
}

/* Responsive design */
@media (max-width: 1100px) {
  .header-container {
      flex-direction: column;
      align-items: center;
  }

  .logo {
      margin-bottom: 1rem;
  }

  nav {
      margin-bottom: 1rem;
  }
  
  .search-container {
      width: 100%;
      max-width: 400px;
      display: flex;
      justify-content: center;
  }

  .nav-search-container{
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .header-container {
      flex-direction: column;
      align-items: stretch;
  }

  .logo {
      text-align: center;
  }

  nav ul {
      flex-direction: column;
      width: 100%;
      margin-bottom: 0;
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 0.5rem;
  }

  nav ul li:last-child {
      margin-bottom: 0;
  }

  nav ul li a {
      display: block;
      text-align: center;
  }

  .search-container {
      width: 100%;
      max-width: none;
  }

  .search-form {
      width: 100%;
  }

  .hero h1 {
      font-size: 3rem;
  }

  .featured-recipes h2, .quick-links h2 {
      font-size: 2.5rem;
  }

  .category-jar {
      width: 120px;
  }

  .jar-img {
      height: 160px;
  }
}



/* Styles for Propose a Recipe page */
.propose-recipe-container {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 800px;
}

.propose-recipe-hero {
    background: url('img/propose-recipe-hero.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.propose-recipe-hero h1 {
    color: var(--primary-color);
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.propose-recipe-hero p {
    font-size: 1.2rem;
    color: #5D4037;
}

.propose-recipe-form {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.propose-recipe-form h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 0;
    color: var(--primary-color);
}

#recipe-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    margin-bottom: 1.5rem;
    gap: 10px;
}

.form-group {
    flex: 1;
    margin-bottom: 1.5rem;
}

.ingredients-container,
.steps-container,
.comments-container {
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #5D4037;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    background-color: #FFF;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #5D4037;
    box-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
}

/* Ingredients and Steps Styles */
.ingredients,
.steps {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.steps {
    display: flex;
    gap: 10px;
}

.ingredient-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.ingredient-entry > .quantity-input {
    width: calc(30% - 5px);
}

.item-input {
    flex-grow: 1;
}

.add-ingredient,
.add-step,
.remove-ingredient, 
.remove-step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

.add-ingredient:hover,
.add-step:hover {
    background-color: #6b3a0f;
}
/* add images styles */
.images{
    border: 0;
    padding: 0;
}

/* Comments Styles */
.comments textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

.comments {
    border: 0;
    padding: 0;
}

/* Submit Button Styles */
.submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #6b3a0f;
}

/* Responsive design for Propose a Recipe page */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }

    .ingredient-entry > .quantity-input,
    .item-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .propose-recipe-hero h1 {
        font-size: 2.5rem;
    }

    .propose-recipe-hero p {
        font-size: 1rem;
    }

    .propose-recipe-form h2 {
        font-size: 2rem;
    }
}

/* Responsive design for hamburger menu */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: stretch;
        flex-wrap:nowrap;
    }
  
    .nav-toggle {
      display: block;
      order: 1;
    }
  
    .logo {
      flex-grow: 1;
      order: 0;
    }
  
    .nav-search-container {
      flex-basis: 100%;
      order: 2;
      display: none;
    }
  
    .nav-search-container.active {
      display: flex;
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;
    }
  
    nav ul li {
      margin-bottom: 0.5rem;
    }
  
    nav ul li:last-child {
      margin-bottom: 0;
    }
  
    nav ul li a {
      display: block;
      text-align: center;
    }
  
    .search-container {
      width: 100%;
    }
  
    .search-form {
      width: 100%;
    }
  }


/* Animation for hamburger menu */
.nav-toggle.active .hamburger {
    background-color: transparent;
  }
  
  .nav-toggle.active .hamburger::before {
    transform: rotate(45deg);
  }
  
  .nav-toggle.active .hamburger::after {
    transform: rotate(-45deg);
  }