/* include border and padding in element width and height */
* {
    box-sizing: border-box;
  }

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(134, 88, 88);
}

.card {
    width: 90vw;
    min-height: 100vh;
    background: #fff;
    margin: 16px auto;
    padding: 10px;
}

.title {
    text-align: center;
    font-size: 50px;
}

.food-title{
    margin: 0px;
    text-align: center;
}

.food-block{

    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    margin-left:auto;
    margin-right: auto;
}
.food-blocks{ 
    display: inline-block;
    background-color: #e3f4ff;
    width: 30%;
    padding: 15px;
    margin-inline-start: 10px;
    margin-inline: 20px;
}
/*recipe pages*/

h5{
    padding:0px;
    margin:0;

}

.preparation {
    background-color: bisque;
    margin:-10px;
    padding: 10px;
    width: 90vw;
    height:auto;
    display: table; /* Use table display for layout */
  }
  
  .text-container, .image-container {
    display: table-cell; /* Make divs behave like table cells */
    vertical-align: top; /* Align content to the top of the cells */
  }
  .image-container{
    width: 0;
  }
  .text-container{
    padding-right: 1vw;
  }
  
  .image-container img {
    height: 310px; /* Make the image fill the container's height */
    width: auto;  /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container, may crop image */
  }
.proccess {
    background-color: bisque;
    width: 90vw;
    height: auto;
    margin:-10px;
    margin-top: 0px;
    padding: 10px;
    border-top: 3px dashed black;

}