.propose-recipe-form {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.propose-recipe .propose-recipe-hero p {
  font-size: var(--size-header2);
  color: var(--primary-color);
}

.propose-recipe .propose-recipe-hero {
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.propose-recipe .propose-recipe-hero h1 {
  color: var(--primary-color);
  font-size: var(--size-header1);
  margin-bottom: 0.5rem;
}

/*------------------------------------*\
    #mobile-size
\*------------------------------------*/
@media (max-width: 768px) {
  .propose-recipe .propose-recipe-hero h1 {
    font-size: var(--size-header1-mobile);
    margin: 0;
  }

  .propose-recipe .propose-recipe-hero p {
    font-size: var(--size-header2-mobile);
  }

  .propose-recipe .propose-recipe-form h2 {
    font-size: var(--size-header2-mobile);
  }
}