/*------------------------------------*\
    #CSS-Variables
\*------------------------------------*/
:root {
  /* chosen pallete */
  --primary-dark: #386641;
  --primary: #6a994e;
  --primary-bright: #a7c957;
  --neutral: #f2e8cf;
  --secondary: #bc4749;

  /* fonts */
  --heading-font: 'Cormorant Garamond', 'Amatic SC', cursive;
  --heading-font-he: 'Fredoka','Amatic SC', cursive;
  --body-font: 'Assistant','Lora', serif;
  --nav-font: 'Source Sans Pro', sans-serif;
  /* colors */
  --primary-color: var(--primary);
  --primary-hover: var(--primary-dark);
  --secondary-color: var(--neutral);
  --secondary-hover: darken(var(--neutral), 10%);
  --header-color: var(--neutral);
  --text-color: #3a3a3a;
  --button-color: white;
  --background-color: var(--neutral);
  --submenu-color: var(--secondary);
  --disabled-color: #cccccc;
  --tabs-color: white;
  --card-bg: white;
  --recipe-bg: var(--background-color);
  /* sizes */
  --size-xxl: 4.5rem;
  --size-header1: 3rem;
  --size-header2: 1.5rem;
  --size-body: 1rem;
  --size-icon: 1.2rem;

  --size-header1-mobile: 2.5rem;
  --size-header2-mobile: 1.2rem;
  --size-body-mobile: 0.9rem;
  --size-icon-mobile: 1.0rem;

  --background: url('/img/background/stone-counter-top.jpg');
}





/*------------------------------------*\
    #Basic-Elements
\*------------------------------------*/
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: var(--background) repeat center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
}


h1, h2, h3 {
  font-family: var(--heading-font-he);
  font-weight: 700;
}


a {
  color: var(--primary-color);
  text-decoration: none;
}

main {
  flex-grow: 1;
  margin: 2rem auto;
  padding: 0 1rem;
}