<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components Library</title>
</head>
<body>
  <h3>greeting message</h3>
  <greeting-message></greeting-message>
  <script src="greeting_message/greeting-message.js"></script>

  <h3>Missing Image Upload</h3>
  <button class="upload-missing-image-button">Open Image Upload</button>
  <script src="missing_image_upload/missing_image_upload.js"></script>
</body>
</html>