footer {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  padding: 1rem;
  font-family: var(--nav-font);
  flex-shrink: 0;
}

    #icon-attribute {
      color: gray;
    }
