.search-bar {
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
}

.search-input {
  border: none;
  font-family: var(--body-font);
  font-size: 1rem;
  padding: 0 10px;
  flex-grow: 1;
  outline: none;
  height: 100%;
}

.search-button {
  border: none;
  cursor: pointer;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}