/*------------------------------------*\
    #recipe-components
\*------------------------------------*/
/* Recipe-Details */
.recipe-details {
  width: 100%;
}

  /* Servings Adjuster */
  .serving-adjuster {
    margin-bottom: 20px;
  }

  .serving-adjuster label {
    margin-left: 10px;
  }

  .serving-adjuster input {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
  }

  /* Ingredientes List */
  .ingredients-list {
    list-style-type: none;
    padding: 0;
  }
  
  .ingredients-list li {
    margin-bottom: 10px;
  }
  
  .amount {
    font-weight: bold;
    margin-left: 5px;
  }
  
  .unit {
    margin-left: 5px;
  }


/* Recipe Image */
.recipe-image-container {
  width: 100%;
  align-self: start;
}

  .recipe-image {
    width: 100%;
    height: auto;
    max-height: none;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


/* Recipe Instructions */
.recipe-instructions h2,
.recipe-details h2, 
.recipe-comments h2 {
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.recipe-instructions ol, 
.recipe-comments ol {
  padding-right: 20px;
  margin-bottom: 20px;
}

  .recipe-instructions > ol, 
  .recipe-comments > ol {
    padding-right: 0;
  }

  .recipe-instructions li, 
  .recipe-comments li {
    margin-bottom: 10px;
    line-height: 1.6;
  }

.stage-title {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 10px;
}