
main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;

}





/*------------------------------------*\
    #quote-section
\*------------------------------------*/
.quote-section {
  background-color: var(--secondary-color);
  padding: 2rem;
  text-align: center;
  font-style: italic;
  margin-top: 2rem;
}

  .quote-section blockquote {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }





/*------------------------------------*\
    #footer
\*------------------------------------*/
footer {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  padding: 1rem;
  font-family: var(--nav-font);
  flex-shrink: 0;
}

  #icon-attribute {
    color: gray;
  }
